@use './variables' as *;

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

#dialog {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: $blancoFondo;
    padding: 20px;
    border: $border_main;
    box-shadow: $box_shadow;
    border-radius: $border-radius;
    z-index: 1000;
    font-family: $fuente_secundaria;
    max-height: 90vh; // límite de alto al 90% de la pantalla
    overflow-y: auto; // activa scroll vertical dentro del diálogo

    h1 {
        text-align: center;
    }

    p {
        text-align: center;
    }

    .botones {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        button {
            margin: auto 0.5rem !important;
        }
    }

    li {
        list-style: none;
        margin: 1rem 0.5rem;
        display: flex;
        justify-content: space-evenly;
    }

    .password {
        display: flex;
    }

    .eye {
        width: 1.5rem;
    }
}