@use './variables' as *;

.mainAdmin {
    // width: 97vw;
    max-width: 95vw;
    margin: 0 auto;
    overflow-x: auto;

    .subMenuContainer {
        display: flex;
        flex-direction: column;
    }

    table {
        border-collapse: collapse;
        th {
            border: 2px solid black;
            margin: auto 0;
        }

        td {
            border: 2px solid $negro_letra;
            text-align: center;

            input {
                width: 100%;
                height: 100%;
                padding: 0.5rem;
                border-radius: 5px;
                border: none;
                background-color: $blancoFondo;
                color: $negro_letra;
                font-size: 1.2rem;
            }

            .fileInput {
                display: none;
            }

            .fileInputLabel {
                // background-color: $rojo_primario;
                @include button-style($rojo_primario, $boton_hover, $blancoFondo, $width: 100%, $height: 100%, $border-radius: 5px);
            }
        }

        .isbn {
            width: 9rem;
        }

        .nombre,
        .colleccion {
            width: 20rem;
        }

        .autor,
        .editorial {
            width: 10rem;
        }

        .trabajo {
            width: 5.5rem;
        }

        .numero,
        .paginas,
        .stock {
            width: 3.8rem;
        }

        .tipo {
            width: 6rem;
        }

        .formato {
            width: 6rem;
        }

        .precio {
            width: 5rem;
        }

        img {
            margin: 0 auto;
        }
    }
}