@use './variables' as *;
.header {
    @include dimensiones(100%, 4rem);
    @include flex(row, space-between, stretch);
    text-decoration: none;
    background-color: $rojo_primario;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.75);


    &__logo {
        img{
            @include dimensiones(100%, 100%);
        }
        min-width: 3rem;
        border-radius: 70%;
        aspect-ratio: 1/1;
        margin: 0.5rem 1rem;

        &:hover {
            transform: scale(1.1);
        }
    }


    .menuHamburguesa {
        display: none;
        @include dimensiones(2rem, 2rem);
        margin: auto 1rem;

        img {
            @include dimensiones(100%, 100%);
        }
    }


    .nav {
        font-family: $fuente_general;
        @include flex(row, stretch, stretch);
        flex-grow: 1;
        position: relative;

        &__menu {
            display: flex;
            justify-content: space-between;
            flex: 1;

            hr {
                display: none;
            }

            &__button {
                display: flex;
                align-items: center;
                background-color: $rojo_primario;
                list-style: none;
                color: $blanco_letra;
                text-align: center;
                padding: 0.3% 3%;
                font-weight: bold;
                text-decoration: none;
                flex-shrink: 1;
                position: relative;

                i {
                    font-style: normal;
                    z-index: 2;

                }

                &:hover>i {
                    @include animacion(transicionLetras, linear, 0.5s, forwards);
                }

                &:hover:before {
                    animation: slide2 0.5s forwards;
                }

                &:before {
                    z-index: 0;
                    background: $navColorHover;
                    content: "";
                    position: absolute;
                    @include dimensiones(100%, 100%);
                    left: 0%;
                    top: -100%;
                }
            }
        }


        &__login {
            @include flex(row, space-evenly, center);
            flex: 1;

            .login {
                @include flex(row, space-between, center);
                min-width: 7rem;

                .carro {

                    svg {
                        width: 2.5rem;
                        height: 2.5rem;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }
                }

                .login {
                    &:hover {
                        transform: scale(1.1);
                    }

                }

                .logeado {
                    cursor: pointer;
                    background-color: transparent;
                    border: none;
                    &:hover {
                        transform: scale(1.1);
                    }
                }                
            }
            .search {
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: space-around;

                label {
                    display: inline-block;
                    @include dimensiones(1.5rem, 1.5rem);
                    cursor: pointer;
                    margin-right: 0.9rem;
                }


                input {
                    background-color: white;
                    border-radius: 0.438rem;

                    &::placeholder {
                        color: black;
                    }

                    &:focus {
                        background-color: $blanco_letra;
                    }
                }
            }
        }
    }

    &.theme--dark {
        background-color: $fondoOscuro;

        .nav__menu {
            background-color: $fondoOscuro !important;

            &__button {
                background-color: $fondoOscuro;

                &:before {
                    background: $navColorHover--dark;
                }
            }
        }

    }

}




@keyframes slide2 {
    0% {
        left: 0%;
        top: -100%;
    }

    100% {
        left: 0%;
        top: 0%;
    }
}

@keyframes transicionLetras {
    0% {
        transform: scale(1);
    }

    100% {
        color: $blanco_letra;
        transform: scale(1.2);
    }
}



@media screen and (max-width: 992px) {

    .header {
        input {
            display: none;
            position: absolute;
            right: 5px;
            top: 5rem;
        }

        width: 100%;

        &__logo {
            margin: 0.5rem 0.3rem;
        }

        .nav {
            opacity: 1;
            font-size: 1rem;

            &__menu {

                @include flex(row, space-between, stretch);
                flex-shrink: 0;

                &__button {
                    padding: 0.3% 1.5%;
                }

            }

            &__login {
                justify-content: space-evenly;
                margin-left: 0.5rem;
                flex: 0;

                .carro {
                    margin: 0rem 0.5rem;
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .header {
        .menuHamburguesa {
            display: block;
            cursor: pointer;
        }

        .nav {
            align-items: center;
            justify-content: center;
            position: relative;

            &__menu {
                top: 4.2rem;
                position: absolute;
                z-index: 5;
                width: 50%;
                flex-direction: column;
                top: 4.2rem;
                left: -400px;
                border-radius: $border-radius;
                overflow: hidden;
                min-width: 130px;
                background-color: $rojo_primario;
                border: 2px solid $blanco_letra;

                &__button {
                    height: 1.5rem;
                    display: flex;
                    flex-direction: row;
                    justify-content: left;
                    align-items: center;
                    margin: 0.5rem;
                    padding: 1rem 1.5rem;
                    border-radius: $border-radius;

                    &:hover {
                        background-color: $rojo_primario--hover;
                        transform: scale(1.01);

                    }

                    a {
                        color: $blanco_letra;
                        text-decoration: none;
                        font-weight: bold;
                    }

                    &::before {
                        content: none;
                    }
                }

                hr {
                    display: block;
                    width: 100%;
                    margin: 0rem;
                }
            }

            &__login {
                justify-content: space-around;
                flex: 1;
            }
        }

        .nav.open {
            animation: slideIn 0.3s forwards;
        }
    }

    .header.theme--dark {
        .nav {
            &__menu {
                &__button {
                    &:hover {
                        background-color: $fondoOscuro2;
                        transform: scale(1.01);
                    }
                }
            }
        }
    }
}

/*  Animación de entrada */
@keyframes slideIn {
    0% {
        left: -300px;
        opacity: 0;
    }

    100% {
        left: -100px;
        opacity: 1;
    }
}

/*  Animación de salida */
@keyframes slideOut {
    0% {
        left: -100px;
        opacity: 1;
    }

    100% {
        left: -300px;
        opacity: 0;
    }
}