@use './variables' as *;

.containerPedidos {
    width: 90vw;
    margin: 1rem auto;

    h1 {
        font-family: $fuente_secundaria;
        text-align: center;
    }

    .compra,
    .titulo {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 4fr 1fr 1fr;
        gap: 5px;

        p,
        a {
            border: 1px solid #ccc;
            padding: 10px;
            background: #f9f9f9;
            font-family: $fuente_secundaria;
            margin: 10px 0;
            text-align: center;
            border-radius: 8px;
        }

        .detallePedido {
            margin: auto auto !important;
        }

    }

    .titulo {
        p {
            background-color: $rojo_primario;
            color: $blanco_letra;
            font-weight: bolder;

        }

    }

    .compra {
        grid-template-rows: auto auto;

        .detalleCompra {
            display: none;
            grid-template-columns: repeat(6, 1fr);
            grid-column: 1 / -1;
            /* hace que ocupe toda la fila */
            width: 90%;

            p {
                background-color: transparent;
                border: 0;
                padding: 10px;
                font-family: $fuente_secundaria;
                margin: 10px 0;
                text-align: center;
                border-radius: 0px;
            }

            hr {
                grid-column: 1 / -1;
                width: 100%;
                margin: 0px auto;
            }
        }
    }

    &.theme--dark {
        h1{
            color: $blanco_letra;
        }
         .titulo {
            p {
                background-color: $fondoOscuro;
                color: $blanco_letra;
            }
            
        }
        .compra{
            &>p {
                background-color: $fondoOscuro;
            }
            p{
               color: $blanco_letra;
            }
        }
    }
}
