@import './variables';

.menu {
    position: absolute;
    top: 4.2rem;
    display: flex;
    flex-direction: column;
    background-color: $rojo_primario;
    border: 2px solid $blanco_letra;
    border-radius: 7px;
    z-index: 2;
    display: none;
    min-width: 130px;

    &__button {
        height: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items: center;
        margin: 0.5rem;
        padding: 1rem 1.5rem;
        border-radius: $border-radius;

        &:hover {
            background-color: $rojo_primario--hover;
            transform: scale(1.01);
        }

        a {
            color: $blanco_letra;
            text-decoration: none;
            font-weight: bold;
        }

    }

    hr {
        width: 100%;
        margin: 0rem;
    }

}
.menuLogin.theme--dark{
    background-color: $fondoOscuro;
    border: 2px solid $blanco_letra;

    .menu__button {
        &:hover {
            background-color: $fondoOscuro2;
        }

        a {
            color: $blanco_letra;
        }
    }
}
.none {
    display: none;
}

/*  Animación de entrada */
@keyframes slideIn {
    0% {
        left: -300px;
        opacity: 0;
    }

    100% {
        left: -100px;
        opacity: 1;
    }
}

/*  Animación de salida */
@keyframes slideOut {
    0% {
        left: -100px;
        opacity: 1;
    }

    100% {
        left: -300px;
        opacity: 0;
    }
}

@media screen and (max-width: 992px) {
    .menu {
        right: 10px;
    }
}

@media screen and (max-width: 576px) {
    .menu {
        right: 30px;
    }
}