@use './variables' as *;

.ContainerProducto {
    margin: 1rem auto;
    width: 96vw;
    background-color: white;
    border: 2px solid $rojo_primario;
    box-shadow: $box_shadow;
    border-radius: 16px;
    // overflow: hidden;
    visibility: hidden;

    .Producto {
        margin: 1rem auto;
        width: 90%;
        display: flex;
        gap: 2rem;

        &__img {
            @include dimensiones(25rem, auto, 6px);
            min-width: 10rem;
            min-height: auto;
            // overflow: hidden;

            img {
                @include dimensiones(100%, 100%);
            }
        }

        &__info {
            padding: 0 1rem;
            width: 100%;
            flex-grow: 1;

            &__titulo {
                font-size: 2rem;
                margin: 0;
            }

            &__autor {
                font-size: 1rem;
                margin: 0.5rem 0;
                font-style: italic;
            }

            &__sinopsis {
                @include flex(column, start, start);
                min-height: 11rem;
                @include localized-before((es: "Sinopsis ",
                        en: "Synopsis ",
                        ja: "あらすじ "
                    ));

                &::before {
                    content: "Sinopsis: ";
                    font-weight: 700;
                }
            }

            &__caracteristicas {
                margin: 0;

                ul {
                    border: 2px solid black;
                    list-style: none;
                    padding: 0;
                    @include flex(row, space-around, center);

                    li {
                        @include flex(column, space-around, center);
                        text-align: center;
                        margin: 0.2rem 1rem;
                    }
                }

                &__publicacion {

                    @include localized-before((es: "Publicación ",
                            en: "Publication ",
                            ja: "出版物 "
                        ));

                    &::before {
                        font-weight: 700;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('./../img/fechaIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__paginas {
                    @include localized-before((es: "Páginas ",
                            en: "Pages ",
                            ja: "ページ "
                        ));

                    &::before {
                        font-weight: 700;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('./../img/paginasIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__tipo {
                    @include localized-before((es: "Categoría ",
                            en: "Category ",
                            ja: "カテゴリ "
                        ));

                    &::before {
                        font-weight: 700;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('./../img/bookIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__subtipo {

                    @include localized-before((es: "Género ",
                            en: "Genre ",
                            ja: "ジャンル "
                        ));

                    &::before {
                        content: "Género";
                        font-weight: 700;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('./../img/generoIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__formato {
                    @include localized-before((es: "Formato ",
                            en: "Format ",
                            ja: "形式 "
                        ));

                    &::before {
                        font-weight: 700;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('./../img/formatoIcon.svg');
                        margin: 0 auto;

                    }
                }

                &__editorial {
                    @include localized-before((es: "Editorial ",
                            en: "Editorial ",
                            ja: "編集者 "
                        ));

                    &::before {
                        font-weight: 700;
                        text-align: center;
                    }

                    &::after {
                        content: "";
                        display: block;
                        @include dimensiones(2rem, 2rem);
                        @include cargarImagen('./../img/editorialIcon.svg');
                        margin: 0 auto;
                    }
                }
            }

            &__precioComprar {
                @include flex(row, space-evenly, center);

                &__precio {
                    @include flex(row, center, center, wrap);

                    &>span {
                        margin: 0 0.2rem;
                    }

                    &__actual {
                        // width: 50%;
                        font-size: 1.8rem;
                        font-weight: 600;
                        color: rgb(0, 0, 0);

                        &::after {
                            content: "€";
                            color: rgb(0, 0, 0);
                        }
                    }

                    &__anterior {
                        font-size: 0.8rem;
                        color: rgb(148, 144, 144);
                        text-decoration: line-through;
                        width: 100%;
                        text-align: center;

                        &::after {
                            content: "PVP";
                        }

                        @include localized-before((es: "Precio recomendado: ",
                                en: "Recommended price: ",
                                ja: "推奨価格： "
                            ));

                        // &::before {
                        //     content: "Precio recomendado: ";
                        // }
                    }

                    &__descuento {
                        color: red;
                        font-size: 1rem;
                    }
                }

                &__boton {
                    @include button-style(#00b83d, white, 8rem, auto, 6px);
                    margin: auto;
                    min-height: 45px;
                }

                .botonCesta {
                    background-color: #00b83d;
                }

                .botonWishlist {
                    background-color: rgb(0, 119, 255);
                }

                .Producto__info__precioWishlist__tooltip {
                    display: flex;
                    flex-direction: column;
                    position: relative;
                }

                .mensajeError {
                    display: flex;
                    justify-content: center;
                    /* Centra horizontalmente */
                    align-items: center;
                    margin: 0;
                    padding: 1rem 2rem 2rem 2rem;
                    line-height: normal;
                    border-radius: 8px;
                    font-size: 1.2rem;
                    text-align: center;
                    position: absolute;
                    top: 3rem;
                    display: block;
                    background-color: #333;
                    color: #fff;
                    bottom: 125%;
                    left: 50%;
                    transform: translateX(-50%);
                    z-index: 3;
                    white-space: nowrap;
                    opacity: 0.95;
                }
            }

        }
    }

    .Producto__comentarios {
        margin: 3rem auto;
        width: 90%;

        h2 {
            margin: 1rem auto;
            text-align: center;
        }

        .Producto__comentario__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }

        .Producto__comentarios__formulario {

            margin: 1rem auto;
            width: 100%;
            border: 1px solid black;
            border-radius: 8px;
            padding: 0.5rem;

            .Producto__comentarios__formulario__titulo {
                display: flex;
                flex-direction: column;

                &__input {
                    font-size: 1.5rem;
                    margin: 0.5rem 0;
                    padding: 0.5rem;
                    border-radius: 8px;
                }
            }


            .Producto__comentarios__formulario__texto {
                width: 100%;
                height: 5rem;
                resize: none;
                padding: 0.5rem;
                border-radius: 8px;
                border: 1px solid black;
            }
        }

        .Producto__comentarios__lista {
            .Producto__comentario {
                margin: 1rem auto;
                width: 100%;
                border: 1px solid black;
                border-radius: 8px;
                padding: 0.5rem;

                &__botones {
                    width: 30%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    #editComment {
                        background-color: #0077ff;
                        margin: 1rem;
                    }

                    #deleteComment {
                        background-color: $rojo_primario;
                        margin: 1rem;
                    }
                }

            }
        }
    }
}

@media screen and (max-width: 1080px) {
    .ContainerProducto {

        .Producto {
            align-items: center;

            &__img {
                width: 15rem;
                height: 15rem;
                aspect-ratio: 1/1;
            }

            &__info {


                &__caracteristicas {
                    width: 100%;

                    // background-color: red;
                    ul {
                        display: flex;
                        flex-wrap: wrap;
                        gap: 1rem;

                    }
                }

            }
        }
    }
}

@media screen and (max-width: 670px) {
    .ContainerProducto {
        .Producto {
            @include flex(column, center, center);

            &__img {
                width: 10rem;
                height: auto;
            }

            &__info__precioComprar {
                flex-direction: column;
                gap: 1rem;
            }
        }

    }
}