/*Fondos*/
$fondoClaro: './../img/textura.png';
$fondoDark: rgb(47, 47, 47);
/*Letra*/
$blanco_letra: #FCFAEE;
$negro_letra: #000000;
$grisLetra: #808080;
$fuente_general: "Kotta One", serif;
$fuente_secundaria: "Montserrat", serif;
$fuente_logo: "Aladin", serif;

/*VariosColores*/
$blancoFondo: #ffffff;
$rojo_primario: #B8001F;
$rojo_primario--hover: #9c001a;
$boton_hover: hsl(350, 100%, 46%);
$boton_hoverPaginacion: hsl(350, 100%, 46%);
$verde_validacion: #1fb800;
$azulFocus: #0062D5;
$fondo_footer: rgb(40, 39, 39);
$grisTooltip: #515151;

/*Bordes*/
$negroBorde: #000000;
$border_main: 3px solid $rojo_primario;
$border_black: 3px solid $negroBorde;
$border_main--dark: 3px solid #000000;
$border-radius: 8px;

/*Sombras*/
$shadow_nav: rgb(0, 0, 0);
$box_shadow: 0.313rem 0.313rem 0.625rem -0.313rem rgb(0, 0, 0);

/*Colores dark*/
$fondoOscuro: #000000;
$fondoOscuro2: #404040;
$fondoOscuro3: #2c2727;
$botonDark--hover: #00426a;
$fondoOscuroElementos: #2babc8;
$colorFooter--dark: #000000;
$inputFondo: #404040;

/*Colores nav*/
$navColor: #B8001F;
$navColorHover: #ff002b;
$navColorHover--dark: #2babc83c;
$navColor--dark: #2babc83c;

/*Colores tooltip*/
$verdeTooltip: #a2e3a2;
$verdeTooltipBorder: #0c500c;
$rojoTooltip: #db6c7e;
$rojoTooltipBorder: #9c001a;
$warningTooltip: #ffd08e;
$warningTooltipBorder: #c67607;

/* Botones Primarios*/
$btnPrimario: #008000;
$btnPrimarioHover: #0c500c;
$buttonPrimario--dark: #820094;
$buttonPrimarioHover--dark: #41004a;

/* Botones Secundarios */
$btnSecundario: #0c500c;
$btnSecundarioHover: #093c09;
$buttonSecundario--dark: #0f6599;
$buttonSecundarioHover--dark: #002a4b;

/*Botones Terciarios*/
$btnTerciario: #B8001F;
$btnTerciarioHover: #9c001a;
$buttonTerciario--dark: #B8001F;
$buttonTerciarioHover--dark: #9c001a;

/*Botón desactivado*/
$grayDisabled: #b9b9b9;

@mixin cargarImagen($url, $size: cover) {
  background-image: url($url);
  background-position: center;
  background-size: $size;
  background-repeat: no-repeat;
}


@mixin flex($direction, $justify, $align, $wrap: nowrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}

@mixin dimensiones($width, $height, $borderRadius: 0px, $border: none) {
  width: $width !important;
  height: $height !important;
  border-radius: $borderRadius !important;
  border: $border !important;
}

@mixin animacion($name, $timing-function, $duracion, $fill-mode) {
  animation-name: $name;
  animation-timing-function: $timing-function;
  animation-duration: $duracion;
  animation-fill-mode: $fill-mode;

}

@mixin button-style($bg-color, $bg-color-hover, $text-color, $width: auto, $height: auto, $border-radius: 5px) {
  background-color: $bg-color !important;
  color: $text-color !important;
  font-weight: bold !important;
  margin: 0.5rem auto 2rem !important;
  @include dimensiones($width, $height, $border-radius, 2px solid gray);
  cursor: pointer !important;

  &:hover {
    transform: scale(1.05) !important;
    background-color: $bg-color-hover !important;
  }
}

// Localized before le añades un map y te genera un before para cada idioma
@mixin localized-before($locales) {
  @each $lang, $text in $locales {
    &.#{$lang}::before {
      content: "#{$text}";
    }
  }
}