@use './componentes/header';
@use './componentes/footer';
@use './componentes/carrusel';
@use './componentes/main.scss';
@use './componentes/registro';
@use './componentes/spinner';
@use './componentes/sobreNosotros';
@use './componentes/breadcrumb';
@use './componentes/containerProductos';
@use './componentes/producto';
@use "./componentes/idiomas";
@use './componentes/variables' as *;
@use './componentes/editorial';
@use './componentes/form';
@use './componentes/menuLogin';
@use './componentes/wishList';
@use './componentes/carrito';
@use './componentes/historialPedidos';
@use './componentes/dialog';
@use './componentes/tooltip';
@use './componentes/perfil';

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url($fondoClaro);
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &.theme--Dark {
        background-image: none;
        background-color: $fondoOscuro3;
    }
}
.containerMain{
    display: flex;
    width: 96vw;
    flex: 1;
    margin: 0 auto;
}
main {
    flex: 1;
    display: none;
}

.body.theme--Dark {
    background-image: none;
    background-color: $fondoOscuro2;
}

//Produce error al compilar
p {
    font-family: $fuente_secundaria;
}

.btn {
    text-decoration: none;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    &:disabled,
    &.disabled.theme--dark {
        cursor: not-allowed !important;
        color: $negro_letra !important;
        background: $grayDisabled !important;
        border: $border_black;

        &:hover {
            background-color: $grayDisabled !important;
            transform: none !important;
        }
    }
}

.btnPrimario {
    @include button-style($btnPrimario, $btnPrimarioHover, white, 8rem, auto, 6px);

    &.theme--dark {
        @include button-style($buttonPrimario--dark, $buttonPrimarioHover--dark, white, 8rem, auto, 6px);
    }
}

.btnSecundario {
    @include button-style($btnSecundario, $btnSecundarioHover, white, 8rem, auto, 6px);

    &.theme--dark {
        @include button-style($buttonSecundario--dark, $buttonSecundarioHover--dark, white, 8rem, auto, 6px);
    }

}

.btnTerciario {
    @include button-style($btnTerciario, $btnTerciarioHover, white, 8rem, auto, 6px);

    &.theme--dark {
        @include button-style($buttonTerciario--dark, $buttonTerciarioHover--dark, white, 8rem, auto, 6px);
    }

}

.enlaceBoton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    border: 1px solid $negroBorde;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: $rojo_primario;
    cursor: pointer;

    &.theme--dark {
        background-color: $buttonSecundario--dark;

        &:hover {
            background-color: $buttonSecundarioHover--dark;
            transform: scale(1.01);
        }
    }

    a {
        color: $blanco_letra;
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
        cursor: inherit;
    }

    &:hover {
        background-color: $rojo_primario--hover;
        transform: scale(1.01);
    }
}

.enlaceBotonSmall {
    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $negroBorde;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: $btnSecundario;
    cursor: pointer;

    a {
        color: $blanco_letra;
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
        cursor: inherit;
    }

    &:hover {
        background-color: $btnSecundarioHover;
        transform: scale(1.01);
    }

    &.theme--dark {
        background-color: $buttonSecundario--dark;

        a {
            color: $blanco_letra;
        }

        &:hover {
            background-color: $buttonSecundarioHover--dark;
            transform: scale(1.01);
        }
    }
}

.enlaceStyled {
    color: $enlaceColor;
    text-decoration: none;
    position: relative;
    transition: color 0.3s;
    font-weight: 500;

    &::after {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: -2px;
        left: 0;
        background-color: currentColor;
        transition: width 0.3s;
    }

    &:hover {
        color: $enlaceColorHover;
    }

    &:hover::after {
        width: 100%;
    }

    &.theme--dark {
        color: $enlaceColor--dark;
    }
}


.iconSvg {
    @include dimensiones(2rem, 2rem);
}

.contorno--stroke {
    stroke: $fondoOscuro !important;
}

.contorno--fill {
    fill: $fondoOscuro !important;
}

.fondo--fill {
    fill: $blancoFondo !important;
}

.fondo--stroke {
    stroke: $blancoFondo !important;
}

.theme--dark {
    fill: $blancoFondo;

    .contorno--stroke {
        stroke: $blancoFondo !important;
    }

    .contorno--fill {
        fill: $blancoFondo !important;
    }

    .fondo--stroke {
        stroke: $fondoOscuro !important;
    }

    .fondo--fill {
        fill: $fondoOscuro !important;
    }
}
select.theme--dark{
    background-color: $fondoOscuro2;
    color: $blanco_letra;
}
.card.theme--dark {
    background-color: $fondoOscuro2!important;
    color: $blanco_letra!important;
    
}
/*skeleton*/

.skeleton {
    background-color: #ddd;
    border-radius: 4px;
    width: 100%;
    height: 20px;
    margin: 10px 0;
    animation: shimmer 1.5s infinite;
}

// .skeleton.image {
//     height: 150px;
//     width: 100%;
// }

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }

    100% {
        background-position: 1000px 0;
    }
}

.skeleton {
    background-image: linear-gradient(90deg, #ddd 25%, #e7e7e7 50%, #ddd 75%);
    background-size: 1000px 100%;
}

.cardSkeleton {
    box-sizing: border-box;
    padding: 15px;
    width: 96vw;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
}