@use './componentes/header';
@use './componentes/footer';
@use './componentes/carrusel';
@use './componentes/main.scss';
@use './componentes/registro';
@use './componentes/spinner';
@use './componentes/sobreNosotros';
@use './componentes/breadcrumb';
@use './componentes/containerProductos';
@use './componentes/producto';
@use "./componentes/idiomas";
@use './componentes/variables' as *;
@use './componentes/editorial';
@use './componentes/form';
@use './componentes/menuLogin';
@use './componentes/wishList';
@use './componentes/carrito';
@use './componentes/historialPedidos';
@use './componentes/dialog';
@use './componentes/tooltip';
@use './componentes/perfil';

* {
    box-sizing: border-box;
}

html {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('./../img/textura.png');
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.body.theme--Dark {
    // background-image: url('../img/texturaDark.png');
    background-image: none;
    background-color: $fondoOscuro2;
}

//Produce error al compilar
p {
    font-family: $fuente_secundaria;
}

.btn {
    @include button-style(#00b83d, $btnPrimarioHover, white, 8rem, auto, 6px);
    // margin: auto;
    text-decoration: none;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.btnPrimario {
    @include button-style($btnPrimario, $btnPrimarioHover, white, 8rem, auto, 6px);
    text-decoration: none;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    &.theme--dark {
        @include button-style($buttonPrimario--dark, $buttonPrimarioHover--dark, white, 8rem, auto, 6px);
    }
    &:disabled{
        background-color: gray!important;
        cursor: not-allowed!important;
        color: $negro_letra!important;
        background: $grayDisabled!important;
        border: $border_black;
        &:hover{
            transform: none!important;
        }
    }
}

.btnSecundario {
    @include button-style($btnSecundario, $btnSecundarioHover, white, 8rem, auto, 6px);
    text-decoration: none;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
     &.theme--dark {
        @include button-style($buttonSecundario--dark, $buttonSecundarioHover--dark, white, 8rem, auto, 6px);
    }
        &:disabled{
        background-color: gray!important;
        cursor: not-allowed!important;
        color: $negro_letra!important;
        background: $grayDisabled!important;
        border: $border_black;
        &:hover{
            transform: none!important;
        }
    }
}

.btnTerciario {
    @include button-style($btnTerciario, $btnTerciarioHover, white, 8rem, auto, 6px);
    text-decoration: none;
    min-height: 30px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;

    &.theme--dark {
        @include button-style($buttonTerciario--dark, $buttonTerciarioHover--dark, white, 8rem, auto, 6px);
    }
        &:disabled{
        background-color: gray!important;
        cursor: not-allowed!important;
        color: $negro_letra!important;
        background: $grayDisabled!important;
        border: $border_black;
        &:hover{
            transform: none!important;
        }
    }
}

.enlaceBoton {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem auto;
    border: 1px solid $negroBorde;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: $rojo_primario;
    cursor: pointer;

    &.theme--dark {
        background-color: $fondoOscuro;

        &:hover {
            background-color: $botonDark--hover;
            transform: scale(1.01);
        }
    }

    a {
        color: $blanco_letra;
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
        cursor: inherit;
    }

    &:hover {
        background-color: $rojo_primario--hover;
        transform: scale(1.01);
    }
}

.enlaceBotonSmall {

    width: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid $negroBorde;
    border-radius: 8px;
    padding: 0.5rem;
    background-color: $btnSecundario;
    cursor: pointer;

    a {
        color: $blanco_letra;
        text-decoration: none;
        font-size: medium;
        font-weight: bolder;
        cursor: inherit;
    }

    &:hover {
        background-color: $btnSecundarioHover;
        transform: scale(1.01);
    }
}