@use './componentes/header';
@use './componentes/footer';
@use './componentes/carrusel';
@use './componentes/main.scss';
@use './componentes/registro';
@use './componentes/spinner';
@use './componentes/sobreNosotros';
@use './componentes/breadcrumb';
@use './componentes/containerProductos';
@use './componentes/producto';
@use "./componentes/idiomas";
@use './componentes/variables' as *;
@use './componentes/editorial';
@use './componentes/form';
@use './componentes/menuLogin';
@use './componentes/wishList';
@use './componentes/carrito';
@use './componentes/historialPedidos';
* {
    box-sizing: border-box;
}
html{
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
body {
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url('./../img/textura.png');
    overflow-x: hidden;
}
.body--Dark{
    // background-image: url('../img/texturaDark.png');
    background-image: none;
    background-color: #2babc83c;
}
//Produce error al compilar
p {
    font-family: $fuente_secundaria;
}
